<template>
  <header>
    <div class="brand">
      <router-link to="/">irm.mx</router-link>
    </div>
    <nav>
      <router-link to="/about">{{ $t('glossary.about') }}</router-link>
    </nav>
  </header>
</template>
