<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>irm.mx</title>
  </head>
  <body>
    <noscript>
      <strong>This web requires the JavaScript enabled.</strong>
    </noscript>
    <div id="irmmx-app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
