<template>
  <div id="app">
    <Header />
    <transition>
      <keep-alive>
        <router-view></router-view>
      </keep-alive>
    </transition>
  </div>
</template>

<script>
import Header from '@/Components/Header.vue';

export default {
  name: 'App',
  components: {
    Header,
  },
};
</script>
